@import url('https://fonts.googleapis.com/css?family=Mansalva|Varela+Round&display=swap');
.App {
  margin-bottom: 43px;
}

.remove-btn {
  margin-right: 0.5rem;
  float: right;
  border: 0px;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.theme {
  color: #43853d;
}

.subList {
  margin-left: 13px;
  margin-top: -33px;
  padding-top: 33px;
}

.subList > li > span {
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
}

.list-no,
.fancy-big {
  font-size: 2em;
  color: #d3f2c9;
  font-family: 'Mansalva', cursive;
}

.notes {
  color: #43853d;
  font-family: 'Mansalva', cursive;
}

.notes-header {
  margin-top: 23px;
  font-size: 1.3em;
  color: #efefef;
  font-family: 'Mansalva', cursive;
}

.lol {
  font-size: 1.5em;
  color: #d3f2c9;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #43853d;
  padding: 0;
}
